{% extends "publisher/base/book_dashboard.html" %}
{% load static %}
{% load humanize %}


<!-- Head -->
{% block head %}
    {{block.super}}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

<!-- Modals -->
{% block modals %}
    {{block.super}}

    <!-- New Comment Modal -->
    <div class="modal fade comment-modal" id="new-comment-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa fa-comment header-icon" aria-hidden="true"></i>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Comment</h4>
                </div>
                <div class="modal-body">

                    <div class="select-wrap">
                        <label>Suggestion</label>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        <select>
                            <option value="suggestion">Suggestion</option>
                            <option value="warning">Warning</option>
                            <option value="error">Error</option>
                        </select>
                    </div>

                    <input class="subject" type="text" placeholder="Subject"/>
                    <textarea class="message" placeholder="Message"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary save-btn">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Comment Reply Modal -->
    <div class="modal fade comment-modal" id="comment-reply-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa fa-comment header-icon" aria-hidden="true"></i>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Comment Reply</h4>
                </div>
                <div class="modal-body">
                    <textarea class="message" placeholder="Message"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary save-btn">Submit</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<!-- Content -->
{% block content %}

<div id="comments-page" class="row">

    <!-- Heading -->
    <div class="content-heading">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <span>Comments</span>
        <span class="btn btn-info new-btn new-comment-btn">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>New Comment</span>
        </span>
    </div>

    <!-- Comment List -->
    <div class="comment-list-wrap">
        <div class="comment-list">

            {% for c in comments %}
            <!-- Add new-comment for unread comments -->
            <div class="comment {{c.type}} {% if c.has_unread_comments %}new-comment{% endif %} comment-item" data-id="{{c.id}}">
                <div class="title-bar">
                    <img src="{{c.messages.0.profile_pic}}" class="user-pic"/>
                    <span class="username">{{c.messages.0.username}}</span>
                    <span class="title">{{c.subject}}</span>

                    <!-- Controls -->
                    <span class="controls">
                        {% if c.is_owner %}
                        <span class="btn resolve-btn">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                        {% endif %}

                        {% if c.page_id %}
                            <a href="{% url 'publisher_page_editor' c.book_id c.page_id %}" class="btn" target="_blank">
                                <i class="fa fa-external-link" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    </span>
                </div>

                <div class="message-list msg-thread">
                    {% for m in c.messages %}
                    <div class="message">
                        <img src="{{m.profile_pic}}" class="user-pic"/>
                        <div class="body">
                            <div class="heading">
                                <span class="username">{{m.username}}</span>
                                <span class="time-created">{{m.date_created|naturaltime}}</span>
                            </div>
                            <p>{{m.msg}}</p>
                        </div>
                    </div>
                    {% endfor %}

                    <!-- Reply Button -->
                    <div class="reply-btn">
                        <i class="fa fa-reply"></i>
                        <span>Reply</span>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

</div>
{% endblock %}


<!-- Javascript -->
{% block js %}
    {{block.super}}

    <!-- New Comment Template -->
    <script id="new-comment-template" type="text/template">
        <div class="comment <%= type %> comment-item" data-id="<%= id %>">
            <div class="title-bar">
                <img src="<%= profile_pic %>" class="user-pic"/>
                <span class="username"><%= username %></span>
                <span class="title"><%= subject %></span>
                <span class="controls">
                    <span class="btn resolve-btn">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                </span>
            </div>

            <div class="message-list">
                <div class="message msg-thread">
                    <img src="<%= profile_pic %>" class="user-pic"/>
                    <div class="body">
                        <div class="heading">
                            <span class="username"><%= username %></span>
                            <span class="time-created">Now</span>
                        </div>
                        <p><%= msg %></p>
                    </div>
                </div>

                <!-- Reply Button -->
                <div class="reply-btn">
                    <i class="fa fa-reply"></i>
                    <span>Reply</span>
                </div>

            </div>

        </div>
    </script>

    <script id="new-reply-template" type="text/template">
        <div class="message">
            <img src="<%= profile_pic %>" class="user-pic"/>
            <div class="body">
                <div class="heading">
                    <span class="username"><%= username %></span>
                    <span class="time-created">Now</span>
                </div>
                <p><%= msg %></p>
            </div>
        </div>
    </script>

    <script type="text/babel" src="{% static 'js/comments/modals.js' %}"></script>

    <script type="text/babel">
        var bookID = {{book.id}};
        var pageID = null;
        var newCommentModal;
        var commentReplyModal;
        $(document).ready(function(){
            newCommentModal = new NewCommentModal('#new-comment-modal', bookID, pageID);
            commentReplyModal = new CommentReplyModal('#comment-reply-modal', bookID, pageID);

            $('.comment-list').on('click', '.title-bar', function(){
                $(this).parent().find('.message-list').slideToggle();

                // Remove new-comment class if present
                $(this).closest('.comment').removeClass('new-comment');

                // Mark comment thread as read
                var commentID = $(this).closest('.comment').data('id');
                $.post('/publisher/mark-comment-read/', {comment_id: commentID}, function(resp){
                    console.log(resp);
                }, 'json');
            });

            $('.comment-list').on('click', '.reply-btn', function(){
                var parentCommentID = $(this).closest('.comment').data('id');
                commentReplyModal.open(parentCommentID);
            });

            $('.new-comment-btn').click(function(){
                newCommentModal.open();
            });

            // Resolve Comment
            $('.comment-list').on('click', '.resolve-btn', function(event){
                event.stopPropagation();
                var commentID = $(this).closest('.comment').data('id');
                console.log('Resolve Comment: ', commentID);

                $.post('/publisher/resolve-comment/', {comment_id: commentID}, function(resp){
                    console.log(resp);
                }, 'json');
                $(this).closest('.comment').remove();
            });

        });
    </script>
{% endblock %}
